body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#enter-text {
    color: red;
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}