html {
    background-image: url('img/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

body {
   	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	margin: auto;
}

.header {
	padding: 20px;
	text-align: center;
    color: white;
}

.nav-menu {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.nav-menu li {
    display: inline-block;
    margin-right: 20px;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.project-item {
    color: white;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.nav-menu a:hover {
    background-color: rgba(173, 216, 230, 0.5); /* 0.5 to add transparency */
}

footer {
    display: flex;
    justify-content: center;  /* Horizontally center the content */
    align-items: center;      /* Vertically center the content */
    height: 50px;             /* You can adjust the height as needed */
    position: absolute;       /* Ensures that footer sticks at the bottom */
    bottom: 0;                /* Position it at the bottom */
    width: 100%;              /* Takes full width of the parent container */
}

.copyright {
    text-align: center;
    color: white;
}
